local.properties
.idea
.gradle
lint-results
integration-test/samples/*/build
integration-test/test-projects/*/build

integration-test/samples/api/*/build
integration-test/samples/applibtest/*/build
integration-test/samples/assets/*/build
integration-test/samples/attrOrder/*/build
integration-test/samples/basic/lint-report*
integration-test/samples/dependencies/jarProject/build
integration-test/samples/dependencies/jarProject2/build
integration-test/samples/embedded/*/build
integration-test/samples/embedded/micro-apps/*/build
integration-test/samples/flavoredlib/*/build
integration-test/samples/flavorlib/*/build
integration-test/samples/libMinifyJarDep/*/build
integration-test/samples/libMinifyLibDep/*/build
integration-test/samples/libsTest/*/build
integration-test/samples/multiproject/*/build
integration-test/samples/localAarTest/*/build
integration-test/samples/localJars/*/build
integration-test/samples/multiDexWithLib/*/build
integration-test/samples/ndkJniLib/*/build
integration-test/samples/ndkJniPureSplitLib/*/build
integration-test/samples/packagingOptions/jars/*/build
integration-test/samples/minifyLib/*/build
integration-test/samples/renderscriptInLib/*/build
integration-test/samples/sameNamedLibs/*/build
integration-test/samples/sameNamedLibs/*/*/build
integration-test/samples/tictactoe/*/build
integration-test/samples/ndkJniLib2/*/build
integration-test/samples/ndkStandaloneSo/*/build
integration-test/samples/ndkStl/*/build
integration-test/test-projects/mavenLocal/*/build
integration-test/test-projects/repo/*/build
integration-test/test-projects/customArtifactDep/*/build
integration-test/test-projects/3rdPartyTests/*/build
integration-test/test-projects/flavorlibWithFailedTests/*/build
integration-test/test-projects/shrink/*/build
integration-test/test-projects/dependenciesWithVariants/*/build
