<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="home.calculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/calc"
        android:label="@string/app_name" >

    </application>
    
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>